.exchange-table {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  button {
    width: 2em;
    height: 2em;
    border-radius: 0.2em;
    background-color: lighten($color: #083a70, $amount: 20);
    color: white;
    cursor: pointer;

    &:hover {
      background-color: #083a70;
      transition-duration: 0.3s;
    }
  }

  table {
    background-color: #ebebea;
  }

  span {
    margin: 0 1em;
  }
}
